.culturel {
     background-color: #F6B60D;
     
     &__ttile {
          width: 660px;
          font-size: 118px;
          line-height: 105px;
          text-align: center;
          letter-spacing: 0.3px;
          color: #E6DEE7;
          margin: 0 auto;
          padding: 234px 0 291px 0;
     }
}