.address {
    position: relative;
    background-color: #FF6C46;
    height: 592px;
    display: flex;
    justify-content: center;
    align-items: center;
        &::before{
            content: '';
            position: absolute;
            top: -45%;
            background-image: url(../../img/boy.svg);
            background-repeat: no-repeat;
            background-size: contain;
            width: 479px;
            height: 450px;
        }
    
    &__list {
        width: 537px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    &__title {
        font-size: 65px;
        line-height: 62px;
        text-align: center;
        letter-spacing: 0.3px;
        color: #E6DEE7; 
        margin-bottom: 68px;
    }
    
    &__form{
        position: relative;
        
        .btn__email{
            position: absolute;
            cursor: pointer;
            padding: 10px;
            padding-right: 0;
            right: 0px;
            bottom: 0;
            background-color: transparent;
            border: none;
            outline: none;
            
        }
    }
}
.adress {
    
    &__input {
        position: relative;
        width: 530px;
        border: none;
        outline: none;
        background-color: transparent;
        color: #fff;
        border-bottom: 2px solid #D3CFE3;
        padding: 15px;
    }
    
}
