.footer{
    position: relative;
    background-color: #E03FFF;
    padding: 100px 0;

    &::before{
        content: '';
        position: absolute;
        background-image: url(../../img/footer-bg.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 419px;
        height: 180px;
        right: 100px;
        bottom: 115px;

    }
    
    &__list{
        display: flex;
    }
    .menu{
        margin-right: 142px;
        
        &__list{
            list-style-type: none;
            margin-bottom: 40px;
        }
        &__item{
            font-size: 17px;
            line-height: 28px;
            letter-spacing: 0.3px;
            color: #E6DEE7;
        }
        &__title{
            font-weight: 400;
            font-size: 23px;
            line-height: 33px;
        }
    }
    .partnors{
        list-style-type: none;
        
        &__item{
            font-size: 17px;
            line-height: 28px;
            letter-spacing: 0.3px;
            color: #E6DEE7;
        }
        &__title{
            font-weight: 400;
            font-size: 23px;
            line-height: 33px;
            margin-bottom: 13px;
        }
        &__text{
            width: 260px;
        }
    }
    
    .legal{
        
        &__title{
            font-size: 23px;
            line-height: 33px;
            font-weight: 400;
            color: #E6DEE7;
            margin-bottom: 10px;
        }
        
        &__list{
            list-style-type: none;
        }
        &__item{
            line-height: 28px;
            color: #E6DEE7
        }
        
        .press{
            margin-top: 96px;
            color: #E6DEE7;
            
            &__title{
                font-weight: 400;
                font-size: 23px;
                line-height: 33px;
            }
            &__text{
                width: 290px;
                font-size: 15px;
                line-height: 25px;
            }
        }
    }

    .logo{
        margin-left: auto;
    }
}